html
body
  background-color #F8FAFF

.flex
  display flex
.center-flex
  display: flex
  align-items: center
  justify-content: center
.flex-full
  flex: 1

.bg-f
  background-color #FFFFFF

a
  color: #6190e8;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;

.relative-view
  position relative

.ellipsis
  overflow hidden
  text-overflow: ellipsis
  white-space nowrap
  word-break: break-all
  word-wrap break-word