@import '../node_modules/highlight.js/styles/atom-one-light.css';
html
body
  background-color #F8FAFF

.flex
  display flex
.center-flex
  display: flex
  align-items: center
  justify-content: center

.bg-f
  background-color #FFFFFF
